#gradient{
    background:linear-gradient(to right,red,orange);
    
}

#initial{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height:20px;
    letter-spacing: .5em;
    color:rgba(0, 0, 0, 0.665);

    width:100%;
}

.Color{

    display:inline-block;
    border:3px solid white;
    padding:0px;
    
}


#container{
   display:flex;
   flex-wrap: nowrap;
   justify-content:center;
   gap:10px;
   margin:30px 0px 40px 30px;

}

.dta,.dta1{
    text-align:center;
    text-transform:capitalize;
    font-style: bold;
    color:rgba(0, 0, 0, 0.864);
    margin-left: 30px;
    font-weight: bold;
    display:block;
}

/* media queries */

@media only screen and (max-width: 800px){

    #initial{
        font-size:23px;
    }

    #container{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 600px){
    #initial{
        font-size:20px;
    }
}



@media only screen and (max-width: 425px){
    #initial{
    font-size: 20px;
    letter-spacing:10px;
    line-height:  40px;
    }

    #container{
        left:auto;
        margin:5px 0px 20px 0px;
    }

    .dta,.dta1{
        font-size:15px;
        left:1px;
}}
